* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin; /*mozilla scrollbar*/
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
    background: #cdcdcd;
}

:root {
    --border-radius-val: 5px;
}

#root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: rgba(186, 186, 186, 0.557);
}

.App {
    width: 600px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.task-list-container {
    background-color: whitesmoke;
    overflow-y: scroll;
    border-radius: var(--border-radius-val);
    border: solid 2px lightgray;
    margin-top: 5px;
}

.loader-div {
    display: flex;
    justify-content: center;
}

.control-panel {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.809);
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 10px;
    margin-top: 5px;
}

.ui_container {
    display: flex;
    flex-direction: row;
}

.deadline-div {
    display: flex;
    flex-direction: row;
}

.links-div {
    position: relative;
    overflow-y: scroll;
    max-height: 110px;
    border: 2px solid;
    border-color: #979797 #e6e6e6 #fefefe #9b99a3;
    border-radius: var(--border-radius-val);
}

.link-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.link-panel__ahref {
    font-size: small;
    text-align: center;
    flex: 2;
}

.link-panel__buttons-div {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

@media (max-width: 510px) {
    * {
        font-size: 16px;
    }
}