.task-list-table {
  background: white;
  border-collapse: collapse;
  border: 1px solid gray;
  width: 100%;
  font-size: 13px;
  table-layout: fixed;
}

.task-list-table__thead {
  font-weight: bold;
}

.task-list-table__td {
  border: 1px solid gray;
  padding: 1px;
  padding-left: 2px;
  white-space: nowrap;
  margin: 2px;
  overflow: hidden;
}

.task-list-table__thead {
  position: sticky;
  top: -1px;
  background-color: #5e5c6c;
  color: white;
}

.task-list-table__tr {
  cursor: pointer;
  overflow-x: hidden;
}

.task-list-table__td_narrow,
.task-list-table__th_narrow {
  width: 80px;
  text-align: center;
}

/*STATUSES*/

.task-list-table__td-status_bold {
  font-weight: bold;
}

.task-list-table__tr_missed {
  background-color: rgba(231, 75, 47, 0.673);
}

.task-list-table__tr_righttime {
  background-color: rgba(169, 242, 243, 0.673);
}

.task-list-table__tr_done {
  background-color: rgba(109, 230, 109, 0.673);
}

.task-list-table__tr_inprocess {
  background-color: rgba(109, 139, 230, 0.673);
}

.task-list-table__tbody .task-list-table__tr:hover {
  font-weight: bolder;
  color: #1e02bb;
  transition: color 0.5s ease-in;
}
