.myButton {
    background-color: rgb(81, 81, 81);
    padding: 5px 15px;
    margin: 5px 0;
    border: 0 solid gray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.myButton:hover {
    background-color: rgb(99, 99, 99);
}

.myButton:active {
    background-color: rgb(213, 213, 213);
}
