.myTextArea {
    position: relative;
    padding: 5px 0;
    margin: 15px 0;
}

.myTextArea__input {
    resize: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 100%;
}
